# Ignore everything except .gitignore
/*
!.gitignore
!.ignore

# ╔╗                              ╔╗ 
# ║║                             ╔╝╚╗
# ║╚═╗╔══╗╔╗╔╗╔══╗    ╔═╗╔══╗╔══╗╚╗╔╝
# ║╔╗║║╔╗║║╚╝║║╔╗║    ║╔╝║╔╗║║╔╗║ ║║ 
# ║║║║║╚╝║║║║║║║═╣    ║║ ║╚╝║║╚╝║ ║╚╗
# ╚╝╚╝╚══╝╚╩╩╝╚══╝    ╚╝ ╚══╝╚══╝ ╚═╝

# ZSH Config
!.zshrc

# Clangd Formatting
!.clang-format


# Extra stuff
!extras
!extras/*

#                ╔═╗           ╔═╗    ╔╗   ╔╗       
#                ║╔╝           ║╔╝    ║║   ║║       
#   ╔══╗╔══╗╔═╗ ╔╝╚╗╔╗╔══╗    ╔╝╚╗╔══╗║║ ╔═╝║╔══╗╔═╗
#   ║╔═╝║╔╗║║╔╗╗╚╗╔╝╠╣║╔╗║    ╚╗╔╝║╔╗║║║ ║╔╗║║╔╗║║╔╝
# ╔╗║╚═╗║╚╝║║║║║ ║║ ║║║╚╝║     ║║ ║╚╝║║╚╗║╚╝║║║═╣║║ 
# ╚╝╚══╝╚══╝╚╝╚╝ ╚╝ ╚╝╚═╗║     ╚╝ ╚══╝╚═╝╚══╝╚══╝╚╝ 
#                     ╔═╝║                          
#                     ╚══╝                          

# gitignore config fuckery
!.config
.config/*

# Helix editor 
!.config/helix
!.config/helix/*

# Clangd Compiler
!.config/clangd
!.config/clangd/*

# Ghostty Terminal
!.config/ghostty
!.config/ghostty/*

# Hyprland Window Manager
!.config/hypr
!.config/hypr/*
