# Ignore everything except .gitignore
/*
!.gitignore

# ╔╗                              ╔╗ 
# ║║                             ╔╝╚╗
# ║╚═╗╔══╗╔╗╔╗╔══╗    ╔═╗╔══╗╔══╗╚╗╔╝
# ║╔╗║║╔╗║║╚╝║║╔╗║    ║╔╝║╔╗║║╔╗║ ║║ 
# ║║║║║╚╝║║║║║║║═╣    ║║ ║╚╝║║╚╝║ ║╚╗
# ╚╝╚╝╚══╝╚╩╩╝╚══╝    ╚╝ ╚══╝╚══╝ ╚═╝

# ZSH Config
!.zshrc

#                ╔═╗           ╔═╗    ╔╗   ╔╗       
#                ║╔╝           ║╔╝    ║║   ║║       
#   ╔══╗╔══╗╔═╗ ╔╝╚╗╔╗╔══╗    ╔╝╚╗╔══╗║║ ╔═╝║╔══╗╔═╗
#   ║╔═╝║╔╗║║╔╗╗╚╗╔╝╠╣║╔╗║    ╚╗╔╝║╔╗║║║ ║╔╗║║╔╗║║╔╝
# ╔╗║╚═╗║╚╝║║║║║ ║║ ║║║╚╝║     ║║ ║╚╝║║╚╗║╚╝║║║═╣║║ 
# ╚╝╚══╝╚══╝╚╝╚╝ ╚╝ ╚╝╚═╗║     ╚╝ ╚══╝╚═╝╚══╝╚══╝╚╝ 
#                     ╔═╝║                          
#                     ╚══╝                          

# gitignore config fuckery
!.config/
.config/*

# Helix editor 
!.config/helix
!.config/helix/*
