# Ignore everything except .gitignore
/*
!.gitignore
!.ignore

# ╔╗                              ╔╗ 
# ║║                             ╔╝╚╗
# ║╚═╗╔══╗╔╗╔╗╔══╗    ╔═╗╔══╗╔══╗╚╗╔╝
# ║╔╗║║╔╗║║╚╝║║╔╗║    ║╔╝║╔╗║║╔╗║ ║║ 
# ║║║║║╚╝║║║║║║║═╣    ║║ ║╚╝║║╚╝║ ║╚╗
# ╚╝╚╝╚══╝╚╩╩╝╚══╝    ╚╝ ╚══╝╚══╝ ╚═╝

# ZSH Config
!.zshrc

# Clangd Formatting
!.clang-format


# Extra stuff
!extras
!extras/*

#                ╔═╗           ╔═╗    ╔╗   ╔╗       
#                ║╔╝           ║╔╝    ║║   ║║       
#   ╔══╗╔══╗╔═╗ ╔╝╚╗╔╗╔══╗    ╔╝╚╗╔══╗║║ ╔═╝║╔══╗╔═╗
#   ║╔═╝║╔╗║║╔╗╗╚╗╔╝╠╣║╔╗║    ╚╗╔╝║╔╗║║║ ║╔╗║║╔╗║║╔╝
# ╔╗║╚═╗║╚╝║║║║║ ║║ ║║║╚╝║     ║║ ║╚╝║║╚╗║╚╝║║║═╣║║ 
# ╚╝╚══╝╚══╝╚╝╚╝ ╚╝ ╚╝╚═╗║     ╚╝ ╚══╝╚═╝╚══╝╚══╝╚╝ 
#                     ╔═╝║                          
#                     ╚══╝                          

# gitignore config fuckery
!.config
.config/*

# Helix editor 
!.config/helix
!.config/helix/*
.config/helix/themes/noctalia.toml

# Clangd Compiler
!.config/clangd
!.config/clangd/*

# Ghostty Terminal
!.config/ghostty
!.config/ghostty/*
.config/ghostty/themes/noctalia

# Hyprland Window Manager
!.config/hypr
!.config/hypr/*

# Noctalia shell
!.config/noctalia
!.config/noctalia/*

# XKB Layouts (for altgr-weur)
!.config/xkb
!.config/xkb/*

# Remove nwg-displays auto generated config
.config/hypr/monitors.conf
.config/hypr/monitors.lua
